<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.z4jst.alfred.fkill</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>F1C8D9A1-9D34-4F5A-B3E2-38B97F9E7F11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8C15E5C-20EC-4F1D-94BA-DC1B8A5575F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>z4jst</string>
	<key>description</key>
	<string>List running processes and force kill matching processes from Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>fkill</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fkill</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Listing running processes...</string>
				<key>script</key>
				<string>./run_fkill.sh filter "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Type a process name or press Space to list running processes.</string>
				<key>title</key>
				<string>fkill</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F1C8D9A1-9D34-4F5A-B3E2-38B97F9E7F11</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>result="$(./run_fkill.sh kill "$1" 2&gt;&amp;1)"
status=$?
/usr/bin/osascript - "$result" &lt;&lt;'OSA'
on run argv
	display notification (item 1 of argv) with title "fkill"
end run
OSA
exit "$status"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8C15E5C-20EC-4F1D-94BA-DC1B8A5575F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># fkill

Type `fkill` to list running processes. Type a query, for example `fkill chrome`, to show Chrome-related processes.

Press Return on the first item to force kill all matching processes, or choose an individual process to force kill only that PID.
</string>
	<key>uidata</key>
	<dict>
		<key>A8C15E5C-20EC-4F1D-94BA-DC1B8A5575F2</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F1C8D9A1-9D34-4F5A-B3E2-38B97F9E7F11</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.7</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
